.Header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    /* text-align: center; */
    /* justify-self: center; */
    /* height: 5rem; */
}

.Header-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: flex-start;
    padding-left: 2rem;
}

.Header-2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: flex-start;
    padding-left: 2rem;
}

.Header-3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: flex-end;
    padding-right: 2rem;
}

.Header-4 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: flex-end;
    padding-right: 2rem;
}

.Header-5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: flex-end;
    padding-right: 2rem;
}
