.Home {
    text-align: center;
}

.Home-NavBar { 
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
}

.Home-NavBar-1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.Home-NavBar-2 {
    grid-column-start: 2;
    grid-column-end: 2;
}

.Home-NavBar-3 {
    grid-column-start: 3;
    grid-column-end: 3;
}

.Home-NavBar-4 {
    grid-column-start: 4;
    grid-column-end: 4;
}

.Home-NavBar-5 {
    grid-column-start: 5;
    grid-column-end: 5;
}

.Home-Bubbles { 
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}

.Home-Bubbles-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #447ecf;
    color: white;
    border-radius: 50%;
    padding: 9rem;
    margin: 1rem;
}

.Home-Bubbles-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: #447ecf;
    color: white;
    border-radius: 50%;
    padding: 9rem;
    margin: 1rem;
}

.Home-Bubbles-3 {
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: #447ecf;
    color: white;
    border-radius: 50%;
    padding: 9rem;
    margin: 1rem;
}

.Home-Bubbles-4 {
    grid-column-start: 4;
    grid-column-end: 4;
    background-color: #447ecf;
    color: white;
    border-radius: 50%;
    padding: 9rem;
    margin: 1rem;
}

.WCU {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
}

.WCU-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    /* justify-self: flex-end; */
}

.WCU-2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;;
}

.WCU-3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;;
}

.WCU-4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;;
}

.WCU-5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;;
}

.WCU-6 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

.WCU-7 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}